@import '../node_modules/sass-bourbon/bourbon/bourbon';

// -----------------------------------------------------------------------------

$echo-orange: #fd8500;

// -----------------------------------------------------------------------------

body {
  margin: 0;
}

// Setup default font-family and font-size
body,
input {
  font-family: 'Lucida Grande', 'Segoe UI', sans-serif;
  font-size: 16px;
}

// Ensure nothing is selectable by default
body,
body * {
  cursor: default;
  @include user-select(none);
}

#nprogress {
  height: 6px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 40px;
  width: 100%;

  .bar {
    background: $echo-orange;
    position: initial;
  }

  .peg {
    box-shadow: 0 0 10px $echo-orange, 0 0 5px $echo-orange;
  }
}

// -----------------------------------------------------------------------------

.song-list {
  color: #333;
  font-size: 14px;
  padding-top: 41px;
  @include display(flex);
  @include flex-direction(column);

  .header,
  .song {
    background: #fff;
    height: 40px;
    @include display(flex);
    @include flex(0 0 40px);

    > * {
      // display: table-cell;
      height: inherit;
      @include flex(0 0 40px);
      min-width: 0;
      overflow: hidden;
      padding-left: 14px;
      padding-right: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
      word-wrap: break-word;
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);

      > * {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
        word-wrap: break-word;
      }
    }

    .album-container,
    .artist-container {
      width: 32%;
      @include flex(1 1 32%);
      @include justify-content(flex-start);
    }

    .name-container {
      width: 42%;
      @include flex(1 1 42%);
      @include justify-content(flex-start);
    }

    .duration-container {
      width: 100px;
      @include flex(0 1 100px);
      @include justify-content(flex-end);
    }
  }

  .data {
    @include display(flex);
    @include flex-direction(column);
  }

  .header {
    border-bottom: 1px solid #d1d1d1;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    position: fixed;
    right: 0;
    text-transform: uppercase;
    top: 0;

    > * {
      cursor: pointer;
    }

    // BUG: `*:hover` doesn't work
    > div:hover,
    > .hover {
      background-color: #e8e8e8;
    }
  }

  .song {
    border-bottom: 1px solid #e8e8e8;

    &:hover,
    .hover {
      background-color: #f8f8f8;
    }
  }
}
